html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

.kontejner{
/* max-width: 500px; */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding: 20px;
}


:root{
    --background: #FAFAFA;
    --blue:#407BFF;
    --grey:#8B8B8B;
    --lightblue:#407BFF1F;
}
/* barvy
#FAFAFA pozadí stránky
#000000 černá
#8B8B8B šedá
#407BFF primární modrá
#FFFFFF bílá
#407BFF1F světle modrá */

body{
    background-color: var(--background);
}


.logo{
    display: block;
    max-width: 100%;
	height: auto;
    margin: 60px auto;
    margin-bottom: 40px;
}

h1{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 40px auto;
    line-height: 37px;
}

h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--blue) ;
    margin: 10px auto;
}


h2{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 15px;
}

p{
    color: var(--grey);
    text-align: center;
    margin-bottom: 30px;
    line-height: 21px;

}

.button{
    color: white;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 18px;
    font-size: 14px;

}



.blue{
    background-color: var(--blue);
    width: 195px;
}

.grey{
    background-color: var(--grey);
    width: 220px;
}

.section{
    margin-bottom: 60px;
}

.card{
    padding: 20px;
    box-shadow: 0px 4px 6px var(--lightblue);
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 17px;
    color: var(--grey);
}

.card img{
    margin-right: 30px;
    display: block;
}


@media screen and (min-width:640px) {
    .buttons{
        display: flex;
        margin:auto;
    }

    .blue{
        margin-right: 10px;
    }

    .grey{
        margin-left: 10px;
    }

    .cards{
        display: flex;
        gap: 20px;

    }

    .card{
        display: block;
        padding: 20px 15px;
        padding-bottom: 40px;
        text-align: center;
  
    }

    .card img{
        margin: 20px auto;
    }

    .section{
        margin-bottom: 80px;
    }

    p{
        max-width: 550px;
        margin: 30px auto;
    }
 
}


@media screen and (min-width:1100px) {
    .kontejner{
        max-width: 1040px;
        margin: auto;
        padding: 0;
        margin-top: 130px;
    }

    .section,
    .sluzby{
        display: flex;
        gap: 60px;
    }

    .uvod{
        order: -1;
    }

    h1, h2, p{
        text-align: left;
    }

    .uvodni_obrazek,
    .uvod{
        flex-basis: 490px;
        
    }

    .button{
        margin: 0;
        margin-right: 20px;
    }

    h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--blue) ;
    margin: 10px 0;
}

    .uvodni_obrazek img{
        max-width: 425px;
        margin: 0 auto;
    }


    .card1{
        order: -1;
        flex: 1 0 550px;
    }

    .card2{
        flex: 1 0 550px;

    }

  

    .sluzby1{
        flex-basis: 430px;
    }

    
}